
/*Spacing and alignment*/
.margin-top-20 {margin-top: 20px;}
.margin-top-10 {margin-top: 10px;}
.margin-left-20 {margin-left: 20px;}
.margin-left-10 {margin-left: 10px;}
.margin-bottom-20 {margin-bottom: 20px;}
.margin-bottom-10 {margin-bottom: 10px;}
.padding-15 {padding: 15px;}
.padding-left-0 {padding-left: 0px;}
.margin-side-only {margin-top: 0px; margin-bottom: 0px;}
.left {float: left;}
.right {float: right;}
.margin-auto {margin: auto; display: block;}
.centered {text-align: center;}

/*Buttons*/
.button {
	background-color: yellow;
	/*color: white;*/
	border-radius: 5px;
	border: 1px solid black;
}

/*Sections*/
.side-nav {background-color: black;}
.outer-border {background-color: black; height: 500px;}
.inner-border {background-color: brown; height: 100%; width: 100%; border-radius: 5px;}
.display {background-color: green; height: 100%; width: 100%; border-radius: 5px;}